<div class="page-header">
  <h2>Ventas</h2>
  @if (canCreate) {
    <button mat-raised-button color="primary" (click)="onAdd()">
      <mat-icon>add</mat-icon> Nueva Venta
    </button>
  }
</div>
@if (loading()) { <mat-spinner class="center-spinner"></mat-spinner> } @else {
  <table mat-table [dataSource]="data()" class="mat-elevation-z2 full-width">
    <ng-container matColumnDef="idventa"><th mat-header-cell *matHeaderCellDef>#</th><td mat-cell *matCellDef="let r">{{r.idventa}}</td></ng-container>
    <ng-container matColumnDef="tipoComprobante"><th mat-header-cell *matHeaderCellDef>Comprobante</th><td mat-cell *matCellDef="let r">{{r.tipoComprobante}}</td></ng-container>
    <ng-container matColumnDef="serieComprobante"><th mat-header-cell *matHeaderCellDef>Serie</th><td mat-cell *matCellDef="let r">{{r.serieComprobante}}-{{r.numComprobante}}</td></ng-container>
    <ng-container matColumnDef="fechaHora"><th mat-header-cell *matHeaderCellDef>Fecha</th><td mat-cell *matCellDef="let r">{{r.fechaHora | date:'dd/MM/yyyy'}}</td></ng-container>
    <ng-container matColumnDef="total"><th mat-header-cell *matHeaderCellDef>Total</th><td mat-cell *matCellDef="let r">S/ {{r.total | number:'1.2-2'}}</td></ng-container>
    <ng-container matColumnDef="estado"><th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let r"><mat-chip [color]="r.estado==='Aceptado'?'primary':'warn'" highlighted>{{r.estado}}</mat-chip></td>
    </ng-container>
    <ng-container matColumnDef="acciones"><th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let r">
        @if (canDelete) { <button mat-icon-button color="warn" (click)="onDelete(r)"><mat-icon>delete</mat-icon></button> }
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let r; columns: columns;"></tr>
  </table>
  <mat-paginator [length]="total()" [pageSize]="10" [pageSizeOptions]="[5,10,25]" (page)="onPage($event)" showFirstLastButtons></mat-paginator>
}
